*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #4b6cb7, #182848);
}

h1, h2 {
    font-weight: bold;
}

button:focus {
    outline: none;
}

button {
    color: white;
}


/* .battlefield, .battlefield div{
    border: 1px red;
    border-style: solid;
}   */

/* .container div {
    border: 1px red;
    border-style: solid;
} */

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(4, minmax(1fr,1fr)); */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(4, minmax(1fr,1fr)); */
    grid-gap: 3em;
    padding: 1em;
}

.pile {
    grid-row: 1 / span 2;

    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60% 1fr;
}

.pile h1, .pile h2 {
    text-align: center;
}

.pile img {
    display: block;
    margin: auto;
}

.backCont {
    display: flex;
    justify-content: center;
    align-content: center;
}

.warZone {
    grid-row: 3 / span 2;

    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 60% 1fr;
}

.warZone h1, .warZone h2 {
    text-align: center;
}

.warZone img {
    display: block;
    margin: auto;
}

.pile h1, .warZone h1 {
    font-size: 2.5em;
}

.pile h2, .warZone h2 {
    font-size: 2em;
}

.battlefield {
    grid-row: 1 / span 4;
    grid-column: 2 / span 2;

    min-width: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*  30% */

}

.drawn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.drawn img {
    margin: auto;
}


.actions {
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.info {
    grid-column: 1 / span 2;

    display: flex;
    justify-content: center;
    align-content: center;
}

.info h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: auto;
    padding: 0;
    font-size: 3.5em;
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn button {
    margin: auto;
    padding: 0.3em 1.2em;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    }

.btn button:hover {
    border-color: rgba(255,255,255,1);
}


.btnNext {
    background-color: green;
}

.btnNew {
    background-color: crimson;
}

.pile, .battlefield, .warZone {
    background-color: rgba(255, 255, 255, .05);
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2)
}
